* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #E0DFE2;
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    cursor: pointer;
}

ul li:hover {
    color: #a8a8a8;
}

a:hover {
    color: #a8a8a8;
}

hr {
    margin: 0 0 40px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #a8a8a8 inset;
}

.header {
    display: grid;
    grid-template-columns: auto 100px;
    background-color: #6B6840;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    padding: 20px 20px;
}

.burger-menu {
    display: none;
    margin-left: 25px;
    position: relative;
    top: 1px;
}

nav h1 {
    padding-left: 15px;
    font-size: 32px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
}

nav a {
    color: #FFF;
}

@media only screen and (max-width: 650px) {

    .top-links {
        display: none
    }

    .burger-menu{
        display: inline-block;
    }

}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    position: relative;
    top: -2px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
}

.cart svg {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.cart svg:hover {
    stroke: #a8a8a8;
}

.products-container,
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.products-container h2,
.about-container h2 {
    margin: 50px 0;
}

.about-container img {
    width: 60vw;
    max-width: 2100px;
}

.about-text {
    width: 60vw;
    max-width: 2100px;
    margin-bottom: 40px;
}

.about-text p {
    margin: 30px;
    text-align: justify;
}

.categories-nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 60vw;
    max-width: 2100px;
    place-items: center;
    gap: 10px;
}

.products-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 80vw;
    max-width: 2100px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    /* border: 2px solid #9c9c9c; */
}

@media only screen and (max-width: 650px) {
    .products-display {
        grid-template-columns: 1fr;
    }

    .categories-nav ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-card {
        width: 250px;
        height: 250px;
    }

    .about-text {
        width: 95vw;
    }
}

.product-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform .2s;
    margin-bottom: 15px;
}

.product-link:hover {
    transform: scale(1.1);
}

.product-title {
    color: #000;
}

.product-price {
    color: #868686;
    font-weight: bold;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 80px 0px;
    min-height: calc(100vh - 83px - 41px)
}

.product-details {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 40px;
}

button {
    background-color: #668a51;
    border: none;
    padding: 6px;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}

button:active {
    background-color: #000;
}

.product-details-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    text-align-last: center;
    width: 450px;
}

.product-desc {
    margin-bottom: 50px;
}

@media only screen and (max-width: 650px) {

    .product-detail {
        padding: 40px 0;
    }

    .product-details {
        width: 95vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-details img {
        width: 80vw;
    }

    .product-details-text {
        width: 90vw;
        margin-top: 25px;
    }

}

.qty {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 90px;
    margin: 15px 0;
}

.qtyButton {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.cart-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    min-height: calc(100vh - 83px - 41px);
}

.cart-row {
    display: grid;
    grid-template-columns: 80px 400px 80px 140px 40px;
    align-items: center;
    margin-top: 40px;
}

.cart-display h3 {
    margin: 80px 0 40px;
}

@media only screen and (max-width: 650px) {
    .cart-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        place-items: center;
        margin-top: 40px;
        font-size: 12px;
    }

    .cart-row img {
        width: 25px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    max-width: 2100px;
    margin: auto;
    min-height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.hero img{
    width: 100%;
}


.route-content {
    width: 100%;
    background-color: #F6F6F6;
}

.home-pictures {
    display: flex;
    margin: 20px 0 60px;
}

.home-pictures figure, .home-quote figure {
    position: relative;
}

.home-pictures img, .home-quote img {
    width: 100%;
}

.home-pictures figcaption, .home-quote figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    padding: 10px;
}


.home-quote {
    background-color: #F6F6F6;
    margin-bottom: 90px;
}

.home-quote figure {
    margin-top: 20px;
}

.home-quote figcaption {
    font-size: 24px;
}

@media only screen and (max-width: 650px) {

    .hero img,
    .home-quote img {
        width: 100% !important;
        height: 70vh !important;
        left: 0 !important;
        object-fit: cover;
        object-position: 60% 0;
    }

    .home-pictures img {
        width: 100vw;
    }

    .home-quote figcaption {
        font-size: 18px;
    }

}


.footer {
    background-color: #1E1E1E;
    color: #FFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}

.footer img {
    width: 16px;
    margin-right: 5px;
}

.home-icon-section {
    display: flex;
    align-items: center;

}

.home-icon-section .feature-icon:first-child {
    margin-left: auto;
} 

.home-icon-section .feature-icon:last-child {
    margin-right: auto;
} 

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
}

.feature-icon img {
    height: 40px;
    margin-right: 5px;
}

.feature-icon strong {
    color: #668a51;
}

@media only screen and (max-width: 650px) {

    .home-icon-section,
    .home-pictures {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .feature-icon,
        .home-pictures figure {
            display: inline-block;
            width: 200px;
        }
    }
    

}

.home-main h2 {
    margin-left: 20px;
    font-size: 40px;
    color: #575757;
}

.home-main p {
    margin-left: 20px;
}


/* mobile nav style */
.overlay-nav {
    height: 0%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-links {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;   
}


.overlay-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block; 
    transition: 0.3s; 
}

.overlay-nav .close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay-nav a {font-size: 20px}
    .overlay-nav .close-btn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }